apiVersion: v1
kind: Secret
metadata:
  name: ${component.git-service.service}
  namespace: ${component.git-service.namespace}
  labels:
    provider: agilestacks.com
    project: ${component.git-service.namespace}
data:
  gits-key: ${component.git-service.privatekey.base64Encoded}
