apiVersion: v1
kind: PersistentVolume
metadata:
  name: git-repo
  namespace: ${component.git-service.namespace}
  labels:
    provider:  agilestacks.com
    project:   git-service
    storage:   local
    qualifier: git-repo
spec:
  capacity:
    storage: "${component.git-service.volume.size}"
  accessModes:
    - ReadWriteMany
  hostPath:
    path: "${component.git-service.volume.path}"
